section, h1, h2, h3, h4 {
  *zoom: 1; }
  section:before, h1:before, h2:before, h3:before, h4:before, section:after, h1:after, h2:after, h3:after, h4:after {
    content: " ";
    display: table; }
  section:after, h1:after, h2:after, h3:after, h4:after {
    clear: both; }

@font-face {
  font-family: "SimpleSansLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SimpleSansLight.woff"); }
@font-face {
  font-family: "SimpleSansMedium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SimpleSansMedium.woff"); }
@font-face {
  font-family: "SimpleSans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SimpleSans.woff"); }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none;
  background: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:hover, a:visited {
  color: inherit;
  text-decoration: none; }

html, body {
  font-family: "SimpleSansLight", Arial, sans-serif, Arial, sans-serif;
  background: #004164;
  color: #424242;
  line-height: 140%;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none; }

body {
  margin: 0 auto;
  min-width: 320px;
  overflow-x: hidden; }
  body.noscroll {
    overflow-y: hidden; }

.main-content, header, #breadcrumb {
  background: white;
  overflow: auto; }

.main-content {
  padding-bottom: 40px; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.fa {
  font-family: 'FontAwesome';
  font-style: normal; }

.fa-stack {
  margin-top: -5px; }

section {
  margin-top: 60px; }
  section:first-child {
    margin-top: 40px; }

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100% !important; }

@media (min-width: 768px) {
  .container {
    width: 750px !important; } }
@media (min-width: 992px) {
  .container {
    width: 970px !important; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px !important; } }
[class*='column-'] {
  float: left;
  padding: 0;
  width: 100%;
  min-height: 1px; }

@media only screen and (min-width: 30em) {
  [class*='column-'] {
    padding: 1em; }

  .column-1 {
    width: 8.33333%; }

  .column-2 {
    width: 16.66667%; }

  .column-3 {
    width: 25%; }

  .column-4 {
    width: 33.33333%; }

  .column-5 {
    width: 41.66667%; }

  .column-6 {
    width: 50%; }

  .column-7 {
    width: 58.33333%; }

  .column-8 {
    width: 66.66667%; }

  .column-9 {
    width: 75%; }

  .column-10 {
    width: 83.33333%; }

  .column-11 {
    width: 91.66667%; }

  .column-12 {
    width: 100%; } }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

ul.list li {
  list-style-type: disc; }

.small {
  font-size: 80% !important; }

.super-small {
  font-size: 50% !important; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.align-center {
  text-align: center !important; }

.align-right {
  text-align: right !important; }

.align-left {
  text-align: left !important; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clearfix {
  overflow: auto;
  clear: both; }

.margin-top {
  margin-top: 40px; }

.margin-bottom {
  margin-bottom: 40px; }

/* TYPE */
h1 {
  font: 45px/50px "SimpleSansLight",Arial,sans-serif;
  color: #004164;
  margin: 0 0 14px; }

h2 {
  font: 37px/43px "SimpleSansLight",Arial,sans-serif;
  color: #004164;
  margin: 0 0 14px; }

h3 {
  font: 30px/35px "SimpleSansLight",Arial,sans-serif;
  color: #004164;
  margin: 0 0 14px; }

h4 {
  font: 22px/26px "SimpleSansLight",Arial,sans-serif;
  color: #004164;
  margin: 0 0 14px; }

.subhead {
  font: 20px/29px "SimpleSansLight",Arial,sans-serif;
  padding-bottom: 20px; }

strong {
  font-family: "SimpleSansMedium", Arial, sans-serif; }

.red {
  color: #ec1c24; }

.orange {
  color: #f03d00; }

.gray {
  color: #8a8683; }

a.link {
  color: #00a9e0; }
  a.link:hover {
    color: #00c0ff;
    cursor: pointer; }
  a.link.red {
    color: indianred; }
    a.link.red:hover {
      color: crimson; }

a.link-blue {
  color: #00a9e0;
  font-family: "SimpleSansMedium", Arial, sans-serif; }
  a.link-blue:hover {
    color: #00c0ff;
    cursor: pointer; }

a.btn {
  display: block;
  text-transform: uppercase;
  text-align: center;
  background: #f03d00;
  font-family: "SimpleSansMedium", Arial, sans-serif;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  padding: 10pt;
  color: white;
  min-width: 80px;
  max-width: 400px; }
  a.btn:hover {
    background: #fc7243;
    cursor: pointer; }
  a.btn.disabled {
    background: #ccc;
    cursor: default; }

.button {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  background: #f03d00;
  font-family: "SimpleSans", Arial, sans-serif;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  padding: 10pt 20pt;
  color: white !important;
  min-width: 180px;
  max-width: 400px; }
  .button.small {
    padding: 5pt 10pt;
    min-width: 100px; }
  .button:hover {
    background: #fc7243;
    cursor: pointer;
    color: white !important; }
  .button.disabled {
    background: #ccc;
    cursor: default; }
  .button.gray {
    background: #999; }
    .button.gray:hover {
      background: #aaa; }
  .button.red {
    background: indianred; }
    .button.red:hover {
      background: crimson; }
  .button.blue {
    background: #00a9e0; }
    .button.blue:hover {
      background: #00c0ff; }
  .button.dark-blue {
    background: #004164; }
    .button.dark-blue:hover {
      background: #00567c; }
  .button.outline {
    background: white;
    color: #f03d00 !important;
    border: 2px solid #f03d00; }
    .button.outline:hover {
      color: #fc7243 !important;
      border-color: #fc7243;
      cursor: pointer;
      background: white; }
    .button.outline.disabled {
      color: #ccc !important;
      border-color: #ccc;
      cursor: default; }
    .button.outline.gray {
      color: #999 !important;
      border-color: #999; }
      .button.outline.gray:hover {
        color: #aaa !important;
        background: #aaa; }
    .button.outline.red {
      color: indianred !important;
      border-color: indianred; }
      .button.outline.red:hover {
        color: crimson !important;
        border-color: crimson; }
    .button.outline.blue {
      border-color: #00a9e0;
      color: #00a9e0 !important; }
      .button.outline.blue:hover {
        border-color: #00c0ff;
        color: #00c0ff !important; }
    .button.outline.dark-blue {
      border-color: #004164;
      color: #004164 !important; }
      .button.outline.dark-blue:hover {
        border-color: #00567c;
        color: #00567c !important; }
  .button.icon {
    min-width: 36px;
    padding: 6pt;
    margin: 5px;
    background: none; }
    .button.icon:hover {
      background: #eee !important; }
    .button.icon.blue {
      color: #00a9e0 !important; }
    .button.icon.red {
      color: indianred !important; }
    .button.icon.gray {
      color: #999 !important; }
    .button.icon.green {
      color: #43B02A !important; }

/* Banner Ad */
.banner {
  border-bottom: 1px solid #ddd;
  background: lightseagreen;
  color: white;
  min-height: 45px;
  box-sizing: content-box; }
  .banner .banner-ad-content {
    display: block;
    overflow: hidden;
    min-height: 300px;
    height: 300px;
    padding: 0 !important;
    -webkit-transition: height 0.3s linear, min-height 0.3s linear;
    transition: height .3s linear, min-height .3s linear; }
    .banner .banner-ad-content.collapsed {
      overflow: hidden;
      height: 0;
      min-height: 0;
      -webkit-transition: height .3s linear, min-height .3s linear;
      transition: height .3s linear, min-height .3s linear; }
    .banner .banner-ad-content .text {
      padding: 30px;
      display: -webkit-box;
      display: -moz-flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      -webkit-align-items: baseline;
      -moz-align-items: baseline;
      align-items: baseline;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-align-content: center;
      -moz-align-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      min-height: 300px; }
      .banner .banner-ad-content .text p {
        color: white;
        font-size: 140%;
        line-height: 140%;
        margin-bottom: 15px; }
      .banner .banner-ad-content .text h2 {
        color: white;
        margin-bottom: 15px; }
    .banner .banner-ad-content .image {
      height: 300px;
      background-size: cover !important;
      background-repeat: no-repeat !important; }
  .banner .banner-ad-toggle {
    position: absolute;
    width: 100%;
    padding: 5px; }
    .banner .banner-ad-toggle a {
      display: inline-block;
      width: 35px;
      height: 35px;
      -webkit-border-radius: 35px;
      -moz-border-radius: 35px;
      -ms-border-radius: 35px;
      border-radius: 35px;
      background: transparent;
      text-align: center;
      line-height: 35px;
      box-sizing: border-box; }
      .banner .banner-ad-toggle a:hover {
        background: rgba(255, 255, 255, 0.3);
        cursor: pointer; }

@media (max-width: 767px) {
  .banner .banner-ad-content {
    height: auto !important;
    -webkit-transition: height .3s linear, min-height .3s linear;
    transition: height .3s linear, min-height .3s linear; }
    .banner .banner-ad-content.collapsed {
      overflow: hidden;
      height: 0 !important;
      min-height: 0 !important;
      -webkit-transition: height .3s linear, min-height .3s linear;
      transition: height .3s linear, min-height .3s linear; }
    .banner .banner-ad-content .image {
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center !important; } }
hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0; }

.flash {
  -webkit-animation-name: flash;
  -webkit-animation-duration: 900ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out; }

/* flashing element */
@-webkit-keyframes flash {
  0% {
    background-color: lightgreen; }
  100% {
    background-color: transparent; } }
@page {
  size: 8.5in 11in;
  margin-top: 1cm;
  margin-left: 1cm;
  margin-right: 1cm;
  margin-bottom: 1cm; }
* {
  font-family: Arial, Sans-serif !important;
  color: black !important;
  box-sizing: border-box;
  font-size: 11pt; }

p.subhead {
  font-size: 11pt !important;
  margin: 0;
  padding: 0; }

.small {
  font-size: 8pt !important;
  line-height: 10pt !important; }

img {
  margin-bottom: 5pt; }

strong, .bold {
  font-weight: bold; }

.print {
  display: block; }

tr.print {
  display: table-row; }

h1 {
  color: black;
  font-size: 18pt;
  line-height: 100%;
  padding: 0;
  font-weight: bold;
  margin: 0; }

hr {
  display: none; }

.container {
  max-width: 100% !important; }

.mpa-item {
  margin-bottom: 6pt !important; }

.terms-section {
  margin-top: 10pt; }

.row {
  width: 100%;
  clear: both;
  overflow: auto; }

.column-6 {
  width: 50%;
  padding: 8pt;
  float: left;
  min-height: 1px; }

.column-12 {
  width: 100%;
  padding: 8pt;
  float: none;
  min-height: 1px; }

.mpa-item {
  display: block;
  clear: both;
  overflow: auto;
  margin-bottom: 5pt !important; }

/* hide web elements */
header, footer, .modal, #breadcrumb, #breadcrumb-anchor, .button, .signature-box span, .section-toggle, #esignature-optin, #esignature-optin-overlay, #sales-wrapper, #sales-overlay, #signature-helper, .sign-here {
  display: none !important; }

/* Signature box */
.signature-box, .signature-box-input-wrapper {
  background: none !important;
  border: 1px solid black !important;
  height: 100px;
  padding-left: 0; }

.signature-box .button {
  display: none; }

.signature-box canvas, .signature-box img {
  width: 100%;
  max-height: 150px; }

.signature-box input {
  border: none;
  font-size: 30px !important;
  padding: 0;
  text-align: center;
  font-style: oblique;
  font-family: 'Brush Script MT', cursive;
  background: none;
  width: 100%;
  height: 100px; }

.terms-section h2 {
  border: 2px solid black;
  background: #ccc;
  color: black;
  font-size: 16pt;
  line-height: 100%;
  padding: 10px;
  font-weight: bold;
  margin: 0; }

.terms-section .row {
  margin: 0;
  border: 2px solid black;
  border-radius: 0 !important;
  border-top: 0; }

.terms-section .row .inner-header {
  background: #eee;
  border-bottom: 2px solid black;
  padding: 10px !important; }

.terms-section .row .inner-header h3 {
  font-size: 14pt;
  margin: 0;
  padding: 0;
  line-height: 100%;
  font-weight: bold;
  color: black; }

h4 {
  font-size: 12pt;
  padding: 0;
  line-height: 100%;
  font-weight: bold;
  color: black; }

.terms-section .row ~ br {
  display: none; }

.terms-section .row hr {
  display: none; }

.terms-section .row .mpa-item {
  border-bottom: 0;
  margin-bottom: 5pt; }

label.column-6 {
  padding: 0 !important;
  font-size: 10pt;
  width: 90%;
  display: block;
  line-height: 12pt; }

span.column-6 {
  display: block;
  width: 100%;
  border: 1px solid black;
  padding: 6px 8px !important;
  min-height: 35px;
  font-size: 12pt;
  font-weight: bold !important; }

.not-applicable {
  opacity: 1 !important; }

table {
  width: 100%; }

tbody {
  border: 1px solid black !important; }

tbody.not-applicable {
  display: table-row-group !important; }

tr.not-applicable {
  display: table-row !important; }

td.not-applicable {
  display: table-cell !important; }

td {
  padding: 5pt 5pt 5pt 5pt !important; }

.bold span {
  display: block;
  clear: both;
  width: 100%;
  border: 1px solid black;
  padding: 4px 8px !important;
  min-height: 35px;
  font-size: 12pt; }

td span.bold {
  display: inline-block;
  clear: both;
  min-width: 100px;
  border: 1px solid black;
  padding: 4px 8px !important;
  min-height: 35px;
  font-size: 12pt; }

.terms-section .row .table tr th {
  background: #eee;
  padding: 5px 8px;
  text-align: left;
  text-transform: uppercase;
  font-size: 10pt;
  border: 1px solid black;
  font-weight: bold; }

.terms-section .row .mpa-legal-copy {
  font-size: 85%;
  text-align: justify;
  line-height: 110%;
  padding: 10pt; }

/*# sourceMappingURL=mpa-print.css.map */