<div class="main-content">

  <div class="hero">
    <div class="container align-center">
      <h1>Business with anyone, from just about anywhere</h1>
    </div>
  </div>

  <div id="breadcrumb-anchor"></div>
  <div id="breadcrumb" breadcrumb nostick="1">
    <div class="breadcrumb-inner container">
      <ul>
        <li><a style="background:none;" ng-click="gotoAnchor('shop-businesstypes')" href="javascript:">Complete Solutions</a></li>
      </ul>
    </div>
  </div>

  <section id="shop-businesstypes" class="align-center">
    <div class="container">
      <h1>Select business type</h1>
      <p class="subhead">First Data offers ready-to-go bundles that are perfectly suited for your type of business.</p>
      <div ng-repeat="item in categories" class="business-type column-3">
        <a ng-style="{'background':'url({{item.imageURL ? item.imageURL : placeholderImageUrl}})'}" ng-click="changeCategory(item)" href="javascript:;"><span>{{item.description}}</span></a>
      </div>
    </div>
  </section>

  </div><!-- end .content -->