
		<div id="full_body">

			<header>
				<div id="top">
					<nav class="container">
						<a id="logo" href="#"><img src="../../img/logo.svg" /></a>
            <a style="display:none;" id="cart-icon" href="../../checkout/shipping/"><img src="../../img/cart.svg"/><span>1</span></a>
						<ul id="main-menu" class="">
							<li><a class="nav-main-item" href="#">Home</a></li>
							<li><a class="nav-main-item" href="#">About</a></li>
							<li><a class="nav-main-item" href="#">Contact</a></li>
						</ul>
            <a id="mobile-menu-toggle"><i class="fa fa-bars"></i></a>
          </nav>
					<ul id="mobile-menu" style="display:none;">
						<li><a class="nav-main-item" href="#">Home</a></li>
						<li><a class="nav-main-item" href="#">About</a></li>
						<li><a class="nav-main-item" href="#">Contact</a></li>
					</ul>
				</div>
      </header>

      <div id="breadcrumb-anchor"></div>
      <div id="breadcrumb">
        <div class="breadcrumb-inner container">
          <div class="breadcrumb-mobile">
            <a id="mobile-breadcrumb-toggle"><i class="fa fa-chevron-down"></i> <span>Clover Mini 3G/WiFi</span></a>
          </div>
          <ul>
            <li><a class="link" href="#/store/">Shop</a></li>
            <li><a>{{product.data.productName}}</a></li>
          </ul>
        </div>
      </div>

			<div class="main-content">

        <!-- DETAILS -->
				<section id="product-details">
					<div class="container">
						<div class="column-12">
							<div class="column-3">
								<img src="{{product.data.imageUrls[0]}}"/>
								<div id="product-images">
									<div ng-repeat="item in product.data.imageUrls">
											<a><img src="{{item}}"/></a>
									</div>
								</div>
							</div>
							<div class="column-9">
								<h1>{{product.data.productName}}<span class="price">  ${{product.data.price}}</span></h1>
								<p>{{product.data.productShortDescription}}</p>
								<div class="product-actions">
									<a class="link-bold block" id="add-to-cart">Add to Cart</a>
								</div>
							</div>
						</div>

            <!-- CART -->
						<div id="cart" class="column-4" style="display:none;">
							<div class="cart-contents">
								<h2>Order Summary</h2>
								<p class="sub">One Time Cost</p>
								<table id="cart-one-time" class="cart-items">
									<tr>
										<td>
											<p><a class="link">Clover Mini 3G/WiFi</a></p>
											<div id="cart-item-actions" class="small">Quantity:
												<select>
													<option selected="true">1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
													<option>6</option>
													<option>7</option>
													<option>8</option>
													<option>9</option>
													<option>10</option>
												</select>
												<a class="link" id="remove-from-cart">Remove</a>
											</div>
										</td>
										<td class="align-right">$599</td>
									</tr>
								</table>
								<table id="order-summary">
									<tr>
										<td>Total before tax</td>
										<td class="align-right">$599</p>
									</tr>
									<tr>
										<td>Shipping &amp; handling</td>
										<td class="align-right">Free</td>
									</tr>
									<tr>
										<td>Tax</td>
										<td class="align-right">Included</td>
									</tr>
									<tr class="order-summary-total">
										<td>One-Time Total</td>
										<td class="align-right">$599</p>
									</tr>
								</table>
								<p class="sub cart-table-toggle">Recurring Fee <i class="fa fa-chevron-down"></i><span>$19.95/mo</span></p>
								<table id="cart-recurring" class="cart-items" style="display:none;">
									<tr>
										<td>
											<p>Clover Terminal Software</p>
										</td>
										<td class="align-right">$0.00/mo</td>
									</tr>
									<tr>
										<td>
											<p>TransArmor Solution</p>
										</td>
										<td class="align-right">$19.95/mo</td>
									</tr>
									<tr class="order-summary-total">
										<td>Total</td>
										<td class="align-right">$19.95/mo</td>
									</tr>
								</table>
								<p class="sub cart-table-toggle">Transaction Fee <i class="fa fa-chevron-down"></i><span>2.16% + $0.29</span></p>
								<table id="cart-fees" class="cart-items" style="display:none;">
									<tr>
										<td>
											<p><strong>Credit Card Processing</p>
										</td>
										<td class="align-right">2.16% + $0.29</td>
									</tr>
								</table>
								<div id="cart-actions">
									<a class="link-bold align-center" href="../../">Continue Shopping</a>
									<a class="button" href="../../checkout/shipping/">Proceed to Checkout</a>
									<p class="small">Please note that the transaction fees offered apply only if you complete this application online process and your application is approved.</p>
								</div>
							</div>
						</div><!-- end cart-->

					</div>
				</section>

        <!-- FEATURES -->
				<section id="product-features">
					<div class="container">
						<h3>Features</h3>
						<ul>
							<div ng-repeat="item in productFeatures.data">
								<li>{{item}}</li>
							</div>
						</ul>
					</div>
				</section>

        <!-- INCLUDES -->
				<section id="product-includes">
					<div class="container">
						<h3>Includes</h3>
						<div>
							<a class="product-include column-2" data-toggle="modal" data-target="#include-clovermini">
								<img src="../../../assets/img/products/clover-mini.jpg" />
								<p>Clover Mini 3G/WiFi</p>
							</a>
							<a class="product-include column-2">
								<img src="../../../assets/img/products/fraud.jpg" />
								<p>Clover Terminal Software</p>
							</a>
							<a class="product-include column-2">
								<img src="../../../assets/img/products/fraud.jpg" />
								<p>TransArmor Solution</p>
							</a>
						</div>
					</div>
				</section>

        <!-- SPECS -->
				<section id="product-specifications">
					<div class="container">
						<h3>Hardware Specifications</h3>
						<table>
							<tr>
								<th>Materials</th>
								<td>
									<p>Body: Brushed aluminum with white glass accents</p>
									<p>Display: Antimicrobial Corning® Gorilla® Glass</p>
								</td>
							</tr>
							<tr>
								<th>Overall Dimensions</th>
								<td>
									<p>H: 6.47"</p>
									<p>W: 8.0"</p>
									<p>D: 3.73"</p>
								</td>
							</tr>
							<tr>
								<th>Weight</th>
								<td>
									<p>device: 2.3 lbs</p>
									<p>device + hub: 2.5 lbs</p>
								</td>
							</tr>
							<tr>
								<th>Internet Connectivity</th>
								<td>
									<p>Ethernet</p>
									<p>Wi-Fi (802.11a/b/g/n wireless)</p>
								</td>
							</tr>
							<tr>
								<th>Screen Size</th>
								<td>
									<p>7", 1280px x 800px</p>
								</td>
							</tr>
							<tr>
								<th>Power Source</th>
								<td>
									<p>External power adapter with DC input</p>
								</td>
							</tr>
							<tr>
								<th>Payments</th>
								<td>
									<p>EMV chip card reader</p>
									<p>NFC reader (EMV compliant)</p>
									<p>3-Track Magstripe reader</p>
								</td>
							</tr>
							<tr>
								<th>Hub</th>
								<td>
									<p>Charging port</p>
									<p>Type B USB port</p>
									<p>Ethernet</p>
									<p>4 Type A USB ports</p>
								</td>
							</tr>
						</table>

					</div>
				</section>

        <!-- RECOMMENDED PRODUCTS -->
				<section id="product-recommended">
					<div class="container">
						<h3>Customers have also purchased these products</h3>
						<div class="product-recommended column-2">
							<a><img src="https://www.clover.com/assets/images/public-site/accessories/weight_scale_1.jpg"></a>
							<p>Weight Scale</p>
							<a class="link-bold">Add to Cart</a>
						</div>
						<div class="product-recommended column-2">
							<a><img src="https://www.clover.com/assets/images/public-site/accessories/kitchen_printer_1.jpg"></a>
							<p>Kitchen Printer</p>
							<a class="link-bold">Add to Cart</a>
						</div>
						<div class="product-recommended column-2">
							<a><img src="https://www.clover.com/assets/images/public-site/accessories/cash_drawer.jpg"></a>
							<p>Cash Drawer</p>
							<a class="link-bold">Add to Cart</a>
						</div>
						<div class="product-recommended column-2">
							<a><img src="https://www.clover.com/assets/images/public-site/accessories/barcode_scanner_1.jpg"></a>
							<p>Barcode Scanner</p>
							<a class="link-bold">Add to Cart</a>
						</div>
					</div>
				</section>

        <!-- FAQ -->
				<section id="faq">
					<div class="container">
						<h3>Commonly Asked Questions</h3>
						<div class="faq-question">
							<i class="fa fa-info-circle"></i>
							<a href="https://help.clover.com/faq/what-are-some-differences-between-clover-station-and-clover-mobile-mini/" target="_blank">What are some differences between Clover Station and Clover Mobile / Clover Mini?</a>
							<p>Barcode Scanner / Camera In order to activate the barcode scanner / camera on Clover Station and Clover Mini, tap the barcode icon on the bottom left of the screen within any app. For Clover Station, the camera is back-facing and located on the left and for Clover Mini, the camera is front-facing and on the…</p>
						</div>

						<div class="faq-question">
							<i class="fa fa-info-circle"></i>
							<a href="https://help.clover.com/faq/does-the-clover-mobile-and-clover-mini-connect-to-a-kitchen-printer/" target="_blank">Does the Clover Mobile and Clover Mini connect to a kitchen printer?</a>
							<p>Yes. Just like Clover Station, a Clover Mobile and Clover Mini can connect to a Kitchen Printer as long as the devices are all on the same LAN (local area network). Note If you are on the FD2000 Plan, you will not have any orders to send to a Kitchen Printer (or any Order printer) because…</p>
						</div>

						<div class="faq-question">
							<i class="fa fa-info-circle"></i>
							<a href="https://help.clover.com/faq/is-an-internet-connection-required-to-use-a-clover-device/" target="_blank">Is an internet connection required to use a Clover device?</a>
							<p>Important You can only process card transactions offline for seven (7) consecutive days. After seven (7) consecutive days offline, your Clover device will disallow card transactions. You will need to be connected to the internet in order to activate your Clover device. After activation, your Clover device will be able to function and take transactions…</p>
						</div>

						<div class="faq-question">
							<i class="fa fa-info-circle"></i>
							<a href="https://help.clover.com/faq/which-weight-scales-are-supported-by-clover/" target="_blank">Which weight scales are supported by Clover?</a>
							<p>Clover supports the CAS SW-20 Weight Scale. In order to connect the scale to your Clover Station or Clover Mini, you will need a custom cable that comes bundled with the scale when purchased from your Clover provider.</p>
						</div>

						<div class="faq-question">
							<i class="fa fa-info-circle"></i>
							<a href="https://help.clover.com/faq/which-external-scanners-are-compatible-with-clover-devices/" target="_blank">Which external scanners are compatible with Clover devices?</a>
							<p>The following scanners are compatible and supported by your Clover Station and Clover Mini: Motorola LI2208 Scanner – Clover-customized version (Recommended) Motorola DS9208 IDTECH IDBA-4244MRB (this is the only one we sell through TASQ) IDTECH IDBA-4244SR Honeywell MS7580 Unitech MS180 ECOSCAN2.</p>
						</div>

						<div class="faq-question">
							<i class="fa fa-ellipsis-h"></i>
							<a>More</a>
						</div>
					</div>
				</section>

			</div><!-- end .content -->

      <footer>
        <div class="container">
          <div class="copyright">
            <p>©2009–2016&nbsp;First Data Corporation. All rights reserved.</p>
            <p>Apple, the Apple logo, and iPhone are trademarks of Apple Inc., registered in the U.S. and other countries. Apple Pay and Touch ID are trademarks of Apple Inc. Android™ is a trademark of Google, Inc. EMV® is a registered mark owned by EMVCo LLC. www.emvco.com</p>
          </div>
        </div>
      </footer>

		</div><!-- end .wrapper -->

    <!-- Include Detail - CloverMini -->
    <div class="modal fade include-detail-modal" tabindex="-1" role="dialog" id="include-clovermini">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
          <div class="modal-content">
            <div class="modal-header">
              <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></a>
              <p class="modal-title">Clover Mini WiFi <i>&raquo;</i> <strong>Clover Mini WiFi</strong></p>
            </div>
            <div class="modal-body row">
   						<div class="column-12 include-detail">
  							<div class="column-3">
  								<img src="../../../assets/img/products/clover-mini.jpg"/>
  							</div>
  							<div class="column-9">
  								<h2>Clover Mini 3G/WiFi</h2>
  								<p>Clover 3G/WiFi is the one of the most advanced payment terminal on the market. Accept a wide variety of payment types, add applications to manage employees and keep track of customers.</p>
  							</div>
                <div class="column-12">
  								<h3>Features</h3>
  								<ul>
                    <li>Accept most payment types: cash, EMV&reg; chip cards, mobile wallets like Apple Pay&trade;, plus checks with Clover Check Acceptance</li>
                    <li>Track customers by name, email and phone number</li>
                    <li>Our TransArmor&reg; solution protect you and your customers</li>
                    <li>Apps that can help manage employees, reporting and cash flow, plus centralized dashboard features to help you manage at-a-glance</li>
  								</ul>
  							</div>
   						</div>
            </div>
          </div>
        </div>
      </div>
    </div>
