
		<div id="full_body">
			<header>
				<div id="top">
					<nav class="container">
						<a id="logo" href="#/store/"><img src="../../img/logo.svg" /></a>
            <a style="display:none;" id="cart-icon" href="#"><img src="../../img/cart.svg"/><span>1</span></a>
						<ul id="main-menu" class="">
							<li><a class="nav-main-item" href="#">Home</a></li>
							<li><a class="nav-main-item" href="#">About</a></li>
							<li><a class="nav-main-item" href="#">Contact</a></li>
						</ul>
            <a id="mobile-menu-toggle"><i class="fa fa-bars"></i></a>
          </nav>
					<ul id="mobile-menu" style="display:none;">
						<li><a class="nav-main-item" href="#">Home</a></li>
						<li><a class="nav-main-item" href="#">About</a></li>
						<li><a class="nav-main-item" href="#">Contact</a></li>
					</ul>
				</div>
      </header>

      <div id="breadcrumb-anchor"></div>
      <div id="breadcrumb">
        <div class="breadcrumb-inner container">
          <div class="breadcrumb-mobile">
            <a id="mobile-breadcrumb-toggle"><i class="fa fa-chevron-down"></i> <span>Shipping Information</span></a>
          </div>
          <ul>
            <li><a>Shipping Information</a></li>
            <li><a style="color:#aaa;">Confirmation</a></li>
          </ul>
        </div>
      </div>

			<div class="main-content">

				<section>
					<div class="container">
						<div class="column-8 checkout-form">
							<form>
								<h2>Shipping Information</h2>
								<p id="form-error" style="display:none;">Your form cannot be submitted. Please check the fields highlighted in red. Make sure all required fields are completed and your information is correct.</p>
								<div class="form-group address" id="address-1">
								  <div class="address-details address-details-1">
  								  <p>Ship the following item(s) to this address:</p>
  								  <ul style="margin: 10px 10px 20px 0;" ng-repeat="item in products">
    								  <li><input type="checkbox" checked="true" disabled="true" /> <label>{{item.name}}</label></li>
  								  </ul>
								  </div>
									<div class="form-element">
                    <label class="fancy-field" for="company">
                      <input name="company" type="text" placeholder="Company Name" value="Homemade Italian" />
                    </label>
                  </div>
                  <div class="form-element">
                    <div class="column-6" style="padding:0 8px 0 0;" >
                      <label class="fancy-field" for="fn">
                        <input name="fn" type="text" placeholder="First Name" value="Gianni" />
                      </label>
                    </div>
                    <div class="column-6" style="padding:0" >
                      <label class="fancy-field" for="ln">
                        <input name="ln" type="text" placeholder="Last Name" value="Bello" />
                      </label>
                    </div>
                  </div>
                  <div class="form-element">
                    <div class="column-9" style="padding:0 8px 0 0;" >
                      <label class="fancy-field" for="address">
                        <input name="address" type="text" placeholder="Street Address" value="123 Main Street" />
                      </label>
                    </div>
                    <div class="column-3" style="padding:0" >
                      <label class="fancy-field" for="address">
                        <input name="apt" type="text" placeholder="Apt/Suite" />
                      </label>
                    </div>
                  </div>
                  <div class="form-element">
                    <div class="column-3" style="padding:0 8px 0 0;" >
                      <label class="fancy-field" for="zip">
                        <input name="zip" type="text" placeholder="ZIP" value="95105" />
                      </label>
                    </div>
                    <div class="column-4" style="padding:0;" >
                      <label class="fancy-field" for="state">
                        <select name="state">
  												<option value="placeholder">State</option>
  												<option value="AL">Alabama</option>
  												<option value="AK">Alaska</option>
  												<option value="AZ">Arizona</option>
  												<option value="AR">Arkansas</option>
  												<option value="CA" selected="true">California</option>
  												<option value="CO">Colorado</option>
  												<option value="CT">Connecticut</option>
  												<option value="DE">Delaware</option>
  												<option value="DC">District Of Columbia</option>
  												<option value="FL">Florida</option>
  												<option value="GA">Georgia</option>
  												<option value="HI">Hawaii</option>
  												<option value="ID">Idaho</option>
  												<option value="IL">Illinois</option>
  												<option value="IN">Indiana</option>
  												<option value="IA">Iowa</option>
  												<option value="KS">Kansas</option>
  												<option value="KY">Kentucky</option>
  												<option value="LA">Louisiana</option>
  												<option value="ME">Maine</option>
  												<option value="MD">Maryland</option>
  												<option value="MA">Massachusetts</option>
  												<option value="MI">Michigan</option>
  												<option value="MN">Minnesota</option>
  												<option value="MS">Mississippi</option>
  												<option value="MO">Missouri</option>
  												<option value="MT">Montana</option>
  												<option value="NE">Nebraska</option>
  												<option value="NV">Nevada</option>
  												<option value="NH">New Hampshire</option>
  												<option value="NJ">New Jersey</option>
  												<option value="NM">New Mexico</option>
  												<option value="NY">New York</option>
  												<option value="NC">North Carolina</option>
  												<option value="ND">North Dakota</option>
  												<option value="OH">Ohio</option>
  												<option value="OK">Oklahoma</option>
  												<option value="OR">Oregon</option>
  												<option value="PA">Pennsylvania</option>
  												<option value="RI">Rhode Island</option>
  												<option value="SC">South Carolina</option>
  												<option value="SD">South Dakota</option>
  												<option value="TN">Tennessee</option>
  												<option value="TX">Texas</option>
  												<option value="UT">Utah</option>
  												<option value="VT">Vermont</option>
  												<option value="VA">Virginia</option>
  												<option value="WA">Washington</option>
  												<option value="WV">West Virginia</option>
  												<option value="WI">Wisconsin</option>
  												<option value="WY">Wyoming</option>
                        </select>
                      </label>
                    </div>
                    <div class="column-5" style="padding:0 0 0 8px;" >
                      <label class="fancy-field" for="city">
                        <input name="city" type="text" placeholder="City" value="San Francisco" />
                      </label>
                    </div>
                  </div>
									<div class="form-element">
                    <label class="fancy-field" for="email">
                      <input name="email" type="text" placeholder="Email Address" value="gianni.bello@homemadeitalian.com" />
                    </label>
									</div>
									<div class="form-element">
                    <label class="fancy-field" for="reemail">
                      <input name="reemail" type="text" placeholder="Re-Enter Email Address" value="gianni.bello@homemadeitalian.com" />
                    </label>
									</div>
									<div class="form-element">
                    <label class="fancy-field" for="phone">
                      <input name="phone" type="text" placeholder="Phone Number" value="415-123-4556" />
                    </label>
									</div>
								</div>
                <br>
								<div class="form-group address" id="address-2" style="display:none;">
								  <div class="address-details address-details-2">
  								  <h3>Shipping Address 2 <a class="small link remove-address">Remove</a></h3>
  								  <p>Ship the following item(s) to this address:</p>
  								  <ul style="margin: 10px 10px 20px;">
    								  <li><input type="checkbox" /> <label>Clover Station with FD40</label></li>
    								  <li><input type="checkbox" /> <label>Clover Station with FD40</label></li>
    								  <li><input type="checkbox" /> <label>Clover Station with FD40</label></li>
  								  </ul>
								  </div>
                  <div class="form-element">
                    <label class="fancy-field" for="company">
                      <input name="company" type="text" placeholder="Company Name" />
                    </label>
                  </div>
                  <div class="form-element">
                    <div class="column-6" style="padding:0 8px 0 0;" >
                      <label class="fancy-field" for="fn">
                        <input name="fn" type="text" placeholder="First Name" />
                      </label>
                    </div>
                    <div class="column-6" style="padding:0" >
                      <label class="fancy-field" for="ln">
                        <input name="ln" type="text" placeholder="Last Name" />
                      </label>
                    </div>
                  </div>
                  <div class="form-element">
                    <div class="column-9" style="padding:0 8px 0 0;" >
                      <label class="fancy-field" for="address">
                        <input name="address" type="text" placeholder="Street Address" />
                      </label>
                    </div>
                    <div class="column-3" style="padding:0" >
                      <label class="fancy-field" for="address">
                        <input name="apt" type="text" placeholder="Apt/Suite" />
                      </label>
                    </div>
                  </div>
                  <div class="form-element">
                    <div class="column-3" style="padding:0 8px 0 0;" >
                      <label class="fancy-field" for="zip">
                        <input name="zip" type="text" placeholder="ZIP" />
                      </label>
                    </div>
                    <div class="column-4" style="padding:0;" >
                      <label class="fancy-field" for="state">
                        <select name="state">
  												<option value="placeholder">State</option>
  												<option value="AL">Alabama</option>
  												<option value="AK">Alaska</option>
  												<option value="AZ">Arizona</option>
  												<option value="AR">Arkansas</option>
  												<option value="CA">California</option>
  												<option value="CO">Colorado</option>
  												<option value="CT">Connecticut</option>
  												<option value="DE">Delaware</option>
  												<option value="DC">District Of Columbia</option>
  												<option value="FL">Florida</option>
  												<option value="GA">Georgia</option>
  												<option value="HI">Hawaii</option>
  												<option value="ID">Idaho</option>
  												<option value="IL">Illinois</option>
  												<option value="IN">Indiana</option>
  												<option value="IA">Iowa</option>
  												<option value="KS">Kansas</option>
  												<option value="KY">Kentucky</option>
  												<option value="LA">Louisiana</option>
  												<option value="ME">Maine</option>
  												<option value="MD">Maryland</option>
  												<option value="MA">Massachusetts</option>
  												<option value="MI">Michigan</option>
  												<option value="MN">Minnesota</option>
  												<option value="MS">Mississippi</option>
  												<option value="MO">Missouri</option>
  												<option value="MT">Montana</option>
  												<option value="NE">Nebraska</option>
  												<option value="NV">Nevada</option>
  												<option value="NH">New Hampshire</option>
  												<option value="NJ">New Jersey</option>
  												<option value="NM">New Mexico</option>
  												<option value="NY">New York</option>
  												<option value="NC">North Carolina</option>
  												<option value="ND">North Dakota</option>
  												<option value="OH">Ohio</option>
  												<option value="OK">Oklahoma</option>
  												<option value="OR">Oregon</option>
  												<option value="PA">Pennsylvania</option>
  												<option value="RI">Rhode Island</option>
  												<option value="SC">South Carolina</option>
  												<option value="SD">South Dakota</option>
  												<option value="TN">Tennessee</option>
  												<option value="TX">Texas</option>
  												<option value="UT">Utah</option>
  												<option value="VT">Vermont</option>
  												<option value="VA">Virginia</option>
  												<option value="WA">Washington</option>
  												<option value="WV">West Virginia</option>
  												<option value="WI">Wisconsin</option>
  												<option value="WY">Wyoming</option>
                        </select>
                      </label>
                    </div>
                    <div class="column-5" style="padding:0 0 0 8px;" >
                      <label class="fancy-field" for="city">
                        <input name="city" type="text" placeholder="City" />
                      </label>
                    </div>
                  </div>
									<div class="form-element">
                    <label class="fancy-field" for="email">
                      <input name="email" type="text" placeholder="Email Address" />
                    </label>
									</div>
									<div class="form-element">
                    <label class="fancy-field" for="reemail">
                      <input name="reemail" type="text" placeholder="Re-Enter Email Address" />
                    </label>
									</div>
									<div class="form-element">
                    <label class="fancy-field" for="phone">
                      <input name="phone" type="text" placeholder="Phone Number" />
                    </label>
									</div>
								<br>
								</div>
								<div>
								  <a class="link add-address"><strong><i class="fa fa-plus"></i> Add another address</strong></a>
								  <p class="small">When shipping items to different locations additional shipping charges may apply.</p>
                </div>

								<h2 style="margin-top: 25pt;">Shipping Options</h2>
								<div class="form-group">
									<div class="form-element" ng-init="shippingPrice=0">
										<p>Please select a shipping option</p>
										<br>
										<div><input type="radio" style="margin:10px;" name="shipping-option" checked="true" ng-model="shippingPrice" value="0" /><label>FREE Standard Shipping (4-5 business days)</label></div>
										<div><input type="radio" style="margin:10px;" name="shipping-option" ng-model="shippingPrice" value="11.97" /><label>$11.97 Two-Day Shipping</label></div>
										<div><input type="radio" style="margin:10px;" name="shipping-option" ng-model="shippingPrice" value="30.09" /><label>$30.09 One-Day Shipping</label></div>
									</div>
								</div>
							</form>
						</div>

            <!-- CART -->
						<div id="cart" class="column-4">
							<div class="cart-contents">
								<h2>Order Summary</h2>
								<p class="sub">One Time Cost</p>
								<table id="cart-one-time" class="cart-items" ng-repeat="item in products">
									<tr>
										<td>
											<p><a class="link">{{item.name}}</a></p>
											<div id="cart-item-actions" class="small ">Quantity:
												<select>
													<option selected="true">{{item.qty}}</option>
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
													<option>6</option>
													<option>7</option>
													<option>8</option>
													<option>9</option>
													<option>10</option>
												</select>
												<a class="link" id="remove-from-cart" ng-click="removeItem($index)">Remove</a>
											</div>
										</td>
										<td class="align-right">${{item.price}}</td>
									</tr>
								</table>
								<table id="order-summary">
									<tr>
										<td>Total before tax</td>
										<td class="align-right">${{total}}</p>
									</tr>
									<tr>
										<td>Shipping &amp; handling</td>
										<td class="align-right">{{shippingPrice}}</td>
									</tr>
									<tr>
										<td>Tax</td>
										<td class="align-right">Included</td>
									</tr>
									<tr class="order-summary-total">
										<td>One-Time Total</td>
										<td class="align-right">${{total}}</p>
									</tr>
								</table>
								<p class="sub cart-table-toggle">Recurring Fee <i class="fa fa-chevron-down"></i><span>$19.95/mo</span></p>
								<table id="cart-recurring" class="cart-items" style="display:none;">
									<!-- <tr>
										<td>
											<p>Clover Terminal Software</p>
										</td>
										<td class="align-right">$0.00/mo</td>
									</tr> -->
									<tr>
										<td>
											<p>TransArmor Solution</p>
										</td>
										<td class="align-right">$19.95/mo</td>
									</tr>
									<tr class="order-summary-total">
										<td>Total</td>
										<td class="align-right">$19.95/mo</td>
									</tr>
								</table>
								<p class="sub cart-table-toggle">Transaction Fee<span>2.16% + $0.29</span></p>
								<table id="cart-fees" class="cart-items" style="display:none;">
									<tr>
										<td>
											<p><strong>Credit Card Processing</p>
										</td>
										<td class="align-right">2.16% + $0.29</td>
									</tr>
								</table>
								<div id="cart-actions">
									<a class="link-bold align-center" href="#/store/">Continue Shopping</a>
									<a class="button" href="/#/confirmation/" ng-click="placeOrder()">Place Order</a>
									<p class="small">Please note that the transaction fees offered apply only if you complete this application online process and your application is approved.</p>
								</div>
							</div>
						</div><!-- end cart-->

					</div>
				</section>

			</div><!-- end .content -->

      <footer>
        <div class="container">
          <div class="copyright">
            <p>©2009–2016&nbsp;First Data Corporation. All rights reserved.</p>
            <p>Apple, the Apple logo, and iPhone are trademarks of Apple Inc., registered in the U.S. and other countries. Apple Pay and Touch ID are trademarks of Apple Inc. Android™ is a trademark of Google, Inc. EMV® is a registered mark owned by EMVCo LLC. www.emvco.com</p>
          </div>
        </div>
      </footer>

		</div><!-- end .wrapper -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../scripts/fancyfy-fields.js"></script>
		<script type="text/javascript" src="../../scripts/sticky.js"></script>
		<script type="text/javascript" src="../../scripts/marketplace-demo.js"></script>
		<script type="text/javascript">
			$(document).on('click','.add-address',function(){
        $('#address-2').show();
        $('.address-details input[type=checkbox]').prop("disabled", false);
      });
			$(document).on('click','.remove-address',function(){
        $('#address-2').hide();
        $('.address-details-1 input[type=checkbox]').prop("disabled", true);
        $('.address-details-1 input[type=checkbox]').prop("checked", true);
      });
		</script>
