<div id="breadcrumb-anchor"></div>
<div id="breadcrumb" breadcrumb>
  <div class="breadcrumb-inner container">
    <div class="breadcrumb-mobile">
      <a id="mobile-breadcrumb-toggle"><i class="fa fa-chevron-down"></i> <span>Finish</span></a>
    </div>
    <ul>
      <li><a>Merchant Application <i style="color: green;" class="fa fa-check"></i></a></li>
     <li><a>Location Setup <i style="color: green;" class="fa fa-check"></i></a></li>
     <li><a>Merchant Agreement <i style="color: green;" class="fa fa-check"></i></a></li>
      <li><a class="current">Finish</a></li>
    </ul>
  </div>
</div>

<div class="main-content">
  <form style="max-width:100%; min-height:500px;" autocomplete="off">
   <div class="container">
     <div>
       <br>
         <h1>
            <span class="fa-stack" style="color: green; font-size: 55%;">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-check fa-stack-1x"></i>
            </span>
            Thank You!
         </h1>
        <p class="subhead">Your Application has been submitted.</p>
        <p>Within 30 minutes you will receive an email from First Data. If your Application has been approved the email will include your Business Track login information. Business Track is where you can see your detailed transaction reporting.</p>
        <br>
        <p><a class="btn" ng-click="learnMore()">Learn more about First Data</a></p>
      </div>
    </div>
  </form>
</div>