<ng-include src="headerSignupTpl"></ng-include>
<div id="signup-content">
  <div class="container">
    <div class="column-7" id="thankyou">
      <h2>Thank You!</h2>
      <p>We are processing your account.<br>Look for an email confirmation within the next 15 minutes.</p>
      <p><strong>Order #: 495030</strong>
      <p>If you do not receive an email, please call 1-877-123-4567.</p>
      <p><a class="link" href="#/">Learn more about clover</a></p>
    </div>
    <div class="column-5" id="applicationsummary">
      <a id="logo" href="#"><img src="img/summary.jpg" /></a>
    </div>
  </div>
</div>