#solution-detail {
	.hero {
		background: url('../img/business-type/shop-businesstype-1.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position-y: top;
		color: white;
		overflow: auto;
  	h1 {
    	margin-bottom: 30px;
      padding: 130px 0;
      color: white;
  	}
	}
}
