#form-error {
		color: red;
		padding: 8pt;
		background: rgba(255, 0, 0, 0.1);
		text-align: left;
		margin: 10px 0;
		font-size: 11pt;
}


@media (max-width: 740px) {
  .checkout-form {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .checkout-form {
    width: 100%;
    .form-element div {
      padding: 0 !important;
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

