#product-list-businesstypes {
  min-height: 350px;
	.business-type {
		padding: 5pt;
		a {
			display: block;
			color: white;
      font-family: $font-medium; font-weight: 700;
			min-height: 200px;
			padding: 0 20pt;
			@include flexbox;
			@include flex-direction(column);
			@include justify-content(center);
			@include align-items(center);
			background-size: cover !important;
		}
		span {
			display: block;
		}
		&#restaurant-counter a { background: url('../img/business-type/shop-businesstype-1.png'); }
		&#restaurant-table a { background: url('../img/business-type/shop-businesstype-2.png'); }
		&#retail-physical a { background: url('../img/business-type/shop-businesstype-3.png'); }
		&#appointment-based a { background: url('../img/business-type/shop-businesstype-4.png'); }
		&#retail-mobile a { background: url('../img/business-type/shop-businesstype-5.png'); }
		&#member-based a { background: url('../img/business-type/shop-businesstype-6.png'); }
		&#project-based a { background: url('../img/business-type/shop-businesstype-7.png'); }
		&#ecommerce a { background: url('../img/business-type/shop-businesstype-8.png'); }
		&#mail-order a { background: url('../img/business-type/shop-businesstype-9.png'); }
		&#lodging a { background: url('../img/business-type/shop-businesstype-10.png'); }
		&#car-rental a { background: url('../img/business-type/shop-businesstype-11.png'); }
		&#petro a { background: url('../img/business-type/shop-businesstype-12.png'); }
	}
}

#product-list-products {
	.product {
		padding: 5pt;
		& > div {
			background: white;
			border: 2px solid #E3E3E3;
			padding: 10pt 10pt 15pt;
			img {
				height: 200px;
				clear: both;
				display: block;
				margin: -20px auto;
				z-index: 1;
  		}
			.product-name {
        font-family: $font-normal; font-weight: 400;
				overflow: auto;
				position: relative;
				z-index: 2;
				.product-price {
				  color: $primary-color;
				}
			}
			.product-actions a {
				padding: 10pt;
			}
			.product-short-description {
				color: #aaa;
        line-height: 120%;
				min-height: 30px;
			}
		}
	}
}
