section, h1, h2, h3, h4 {
  *zoom: 1; }
  section:before, h1:before, h2:before, h3:before, h4:before, section:after, h1:after, h2:after, h3:after, h4:after {
    content: " ";
    display: table; }
  section:after, h1:after, h2:after, h3:after, h4:after {
    clear: both; }

@font-face {
  font-family: "SimpleSansLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SimpleSansLight.woff"); }
@font-face {
  font-family: "SimpleSansMedium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SimpleSansMedium.woff"); }
@font-face {
  font-family: "SimpleSans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SimpleSans.woff"); }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none;
  background: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:hover, a:visited {
  color: inherit;
  text-decoration: none; }

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
.modal-open {
  overflow: hidden; }

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  max-width: 800px;
  padding-top: 25px; }

.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle; }

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  background: transparent !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 90%;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
  border: 0;
  outline: none;
  box-shadow: none;
  z-index: 10002;
  -webkit-overflow-scrolling: touch;
  outline: 0; }
  .modal .modal-dialog {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    filter: alpha(opacity=0); }
  .modal.in .modal-dialog {
    opacity: 1;
    filter: alpha(opacity=100); }

.prompt {
  width: 400px;
  text-align: center;
  color: white; }
  .prompt .modal-content, .prompt .modal-body {
    border: 0;
    background: #004164; }
  .prompt .modal-header {
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 15px; }
  .prompt .modal-footer {
    padding: 0 8px 15px 8px;
    margin-top: 15px; }
    .prompt .modal-footer .button {
      background: rgba(255, 255, 255, 0.4);
      font-size: 14px; }
      .prompt .modal-footer .button:hover {
        background: rgba(255, 255, 255, 0.6); }
  .prompt.warning .modal-body, .prompt.warning .modal-content {
    background: indianred; }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10001;
  background-color: #000; }
  .modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0); }
  .modal-backdrop.in {
    visibility: visible;
    opacity: 0.85;
    filter: alpha(opacity=85); }

.modal-content {
  border: 3px solid #00a9e0;
  background: white;
  overflow: scroll; }

.modal-header {
  color: #63666A;
  padding: 0;
  padding: 15px;
  background: #00a9e0;
  color: white; }

.modal-header .close {
  position: static !important;
  float: right;
  margin-top: -2px;
  font-size: 18pt;
  color: white;
  display: block !important; }

.modal-title {
  margin: 0; }

.modal-body {
  position: relative; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal !important;
  background: #004164;
  color: #424242;
  line-height: 140%;
  font-size: 12px;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none; }

body {
  margin: 0 auto;
  padding: 15px;
  min-width: 320px;
  overflow-x: hidden; }
  body.noscroll {
    overflow-y: hidden; }

.main-content {
  padding-bottom: 40px;
  background: white;
  padding: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.fa {
  font-family: 'FontAwesome';
  font-style: normal; }

.fa-stack {
  margin-top: -5px; }

sup {
  font-size: 65%;
  vertical-align: super;
  line-height: 0; }

section {
  margin-top: 60px; }
  section:first-child {
    margin-top: 40px; }

.container {
  margin: 0 auto;
  width: 100% !important; }

@media (min-width: 768px) {
  .container {
    width: 750px !important; } }
@media (min-width: 992px) {
  .container {
    width: 970px !important; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px !important; } }
[class*='column-'] {
  float: left;
  padding: 0;
  width: 100%;
  min-height: 1px; }

@media only screen and (min-width: 30em) {
  [class*='column-'] {
    padding: 0;
    padding-right: 15px; }

  [class*='column-'].omega {
    padding: 0;
    padding-right: 0; }

  .column-1 {
    width: 8.33333%; }

  .column-2 {
    width: 16.66667%; }

  .column-3 {
    width: 25%; }

  .column-4 {
    width: 33.33333%; }

  .column-5 {
    width: 41.66667%; }

  .column-6 {
    width: 50%; }

  .column-7 {
    width: 58.33333%; }

  .column-8 {
    width: 66.66667%; }

  .column-9 {
    width: 75%; }

  .column-10 {
    width: 83.33333%; }

  .column-11 {
    width: 91.66667%; }

  .column-12 {
    width: 100%; } }
.small {
  font-size: 80% !important; }

.super-small {
  font-size: 50% !important; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.align-center {
  text-align: center !important; }

.align-right {
  text-align: right !important; }

.align-left {
  text-align: left !important; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clearfix {
  overflow: auto;
  clear: both; }

.v-align-middle {
  vertical-align: middle; }

.v-align-top {
  vertical-align: top; }

.v-align-bottom {
  vertical-align: bottom; }

/* TYPE */
h1 {
  font: 30px/35px Helvetica,Arial,sans-serif;
  color: #004164;
  margin: 0 0 14px; }

.box {
  border: 1px solid #ccc;
  margin-bottom: 15px; }
  .box:last-child {
    margin-bottom: 0; }
  .box h3 {
    font-weight: bold;
    color: white;
    font-size: 14px;
    padding-left: 10px;
    line-height: 22px; }
    .box h3 i {
      float: right;
      padding: 4px 10px;
      opacity: .8; }
      .box h3 i:hover {
        cursor: pointer;
        opacity: 1; }
  .box.box-orange h3 {
    background-color: #f03d00;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f03d00), to(#a82b00));
    background-image: -webkit-linear-gradient(top, #f03d00, #a82b00);
    background-image: -moz-linear-gradient(top, #f03d00, #a82b00);
    background-image: -ms-linear-gradient(top, #f03d00, #a82b00);
    background-image: -o-linear-gradient(top, #f03d00, #a82b00);
    background-image: linear-gradient(top, #f03d00, #a82b00);
    filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#f03d00', end-colourStr='#a82b00'); }
  .box.box-blue h3 {
    background-color: #0068a0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0068a0), to(#004164));
    background-image: -webkit-linear-gradient(top, #0068a0, #004164);
    background-image: -moz-linear-gradient(top, #0068a0, #004164);
    background-image: -ms-linear-gradient(top, #0068a0, #004164);
    background-image: -o-linear-gradient(top, #0068a0, #004164);
    background-image: linear-gradient(top, #0068a0, #004164);
    filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#0068a0', end-colourStr='#004164'); }
  .box .box-content {
    padding: 10px;
    overflow: auto; }
    .box .box-content img {
      width: 100%; }
    .box .box-content.yellow {
      background: #ffff9a; }

strong, .bold {
  font-weight: bold; }

.italic {
  font-style: oblique; }

.red {
  color: #ec1c24; }

.orange {
  color: #f03d00; }

.green {
  color: green; }

.gray {
  color: #8a8683; }

a.link {
  color: #0368da; }
  a.link:hover {
    color: #3399cc;
    cursor: pointer; }

a.link-line {
  color: #0368da;
  text-decoration: underline; }
  a.link-line:hover {
    color: #3399cc;
    cursor: pointer; }

table.table {
  border: 1px solid #ccc;
  width: 100%; }
  table.table td, table.table th {
    padding: 5px; }
  table.table th {
    border-bottom: 1px solid #ccc; }

ul.list {
  margin-left: 20px; }
  ul.list li {
    list-style: disc;
    margin-top: 7px; }
    ul.list li:first-child {
      margin-top: 0; }

ol.list {
  margin-left: 20px; }
  ol.list li {
    list-style: decimal;
    margin-top: 7px; }
    ol.list li:first-child {
      margin-top: 0; }

.button {
  display: inline-block;
  text-align: center;
  background-color: #004164;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#004164), to(#0068a0));
  background-image: -webkit-linear-gradient(top, #004164, #0068a0);
  background-image: -moz-linear-gradient(top, #004164, #0068a0);
  background-image: -ms-linear-gradient(top, #004164, #0068a0);
  background-image: -o-linear-gradient(top, #004164, #0068a0);
  background-image: linear-gradient(top, #004164, #0068a0);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#004164', end-colourStr='#0068a0');
  font-weight: bold;
  border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 4px 10px;
  color: white !important;
  min-width: 50px;
  max-width: 400px; }
  .button i {
    margin-left: 5px; }
  .button:hover {
    background: #0068a0;
    cursor: pointer;
    color: white !important; }
  .button.disabled, .button.disabled:hover {
    background: #004164;
    opacity: .4;
    cursor: default; }
  .button.gray {
    background: #999; }
    .button.gray:hover {
      background: #aaa; }
  .button.red {
    background: indianred; }
    .button.red:hover {
      background: crimson; }

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0; }

header {
  color: white;
  font-weight: bold; }
  header #header-top {
    margin-bottom: 5px; }
    header #header-top .float-right a {
      opacity: .85;
      cursor: pointer; }
      header #header-top .float-right a:hover {
        opacity: 1; }
    header #header-top .float-right span {
      margin: 0 10px; }
  header #header-banner {
    background: white;
    padding: 10px;
    height: 80px; }
    header #header-banner h1 {
      color: #004164;
      font-weight: normal;
      font-size: 24px;
      line-height: 60px; }
  header #nav {
    margin: 10px auto;
    height: 25px; }

#breadcrumb {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px; }
  #breadcrumb ul li {
    display: inline-block; }
    #breadcrumb ul li a {
      display: inline-block;
      padding: 0 0 10px 0; }
      #breadcrumb ul li a.current {
        font-weight: bold;
        color: black; }
      #breadcrumb ul li a:after {
        content: '>';
        color: #aaa;
        padding: 10px 15px; }
    #breadcrumb ul li:last-child a:after {
      content: none; }

footer {
  color: white;
  margin-top: 10px; }
  footer a {
    opacity: .85;
    cursor: pointer; }
    footer a:hover {
      opacity: 1; }
  footer .small {
    line-height: 120%;
    max-width: 700px; }

/* DROPDOWN NAVIGATION */
/* LEVEL 1 */
ul.dropdown {
  position: relative;
  /* LEVEL 2 */ }
  ul.dropdown li {
    font-weight: bolder;
    float: left;
    zoom: 1; }
    ul.dropdown li a {
      display: block;
      padding: 4px 8px;
      color: rgba(255, 255, 255, 0.8); }
    ul.dropdown li:hover, ul.dropdown li.hover {
      color: white;
      cursor: pointer;
      position: relative; }
      ul.dropdown li:hover a, ul.dropdown li.hover a {
        color: white; }
  ul.dropdown a:hover, ul.dropdown a:active {
    color: white; }
  ul.dropdown ul {
    width: 220px;
    margin-top: 11px;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0; }
    ul.dropdown ul li {
      font-weight: normal;
      background: rgba(0, 65, 101, 0.85);
      float: none;
      font-weight: bold; }
      ul.dropdown ul li:first-child {
        -webkit-border-radius: 6px 6px 0 0;
        -moz-border-radius: 6px 6px 0 0;
        -ms-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0; }
      ul.dropdown ul li:last-child {
        -webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        -ms-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px; }
      ul.dropdown ul li:only-child {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        border-radius: 6px; }
      ul.dropdown ul li a {
        border-right: none;
        width: 100%;
        display: inline-block;
        /* IE 6 & 7 Needs Inline Block */
        padding: 8px; }
      ul.dropdown ul li:hover, ul.dropdown ul li.hover {
        background: rgba(210, 210, 210, 0.85); }
        ul.dropdown ul li:hover a, ul.dropdown ul li.hover a {
          color: #004165; }

#contact-info {
  padding-top: 20px; }
  #contact-info table tr td {
    padding-right: 10px;
    vertical-align: middle; }
    #contact-info table tr td:last-child {
      padding-left: 10px;
      border-left: 1px solid #aaa; }

.marketing-container {
  font-size: 16px;
  height: 300px;
  margin-bottom: 15px;
  padding: 30px;
  background-size: cover; }
  .marketing-container table {
    width: 100%;
    height: 100%; }

form {
  margin: 10px 0;
  width: 100%; }
  form .form-element {
    margin-bottom: 5px; }
    form .form-element.horizontal label, form .form-element.horizontal input, form .form-element.horizontal select {
      display: inline-block; }
    form .form-element.horizontal label {
      min-width: 60px; }
    form .form-element.vertical label, form .form-element.vertical input, form .form-element.vertical select {
      display: block;
      width: 100%;
      max-width: 300px; }
    form .form-element input, form .form-element select {
      -webkit-appearance: none;
      -moz-appearance: none;
      box-sizing: border-box;
      outline: none !important;
      border: 2px solid #ccc;
      box-shadow: none !important;
      z-index: 1;
      padding: 3px;
      background: none; }
      form .form-element input:focus, form .form-element select:focus {
        outline: none !important;
        border: 2px solid #0368da; }
      form .form-element input:-moz-focusring, form .form-element select:-moz-focusring {
        /* remove firefox dotted border thing */
        color: transparent;
        text-shadow: 0 0 0 #000; }
      form .form-element input.disabled, form .form-element input.disabled:focus, form .form-element select.disabled, form .form-element select.disabled:focus {
        background-color: #eee;
        color: #666;
        border: 2px solid #eee; }
    form .form-element input[type=number]::-webkit-inner-spin-button,
    form .form-element input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; }

.ui-widget.ui-widget-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 2px solid #0368da;
  padding: 0; }
  .ui-widget.ui-widget-content .ui-datepicker-header {
    background: #0368da;
    color: white;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
    .ui-widget.ui-widget-content .ui-datepicker-header .ui-icon {
      text-indent: -9999px;
      overflow: hidden; }
  .ui-widget.ui-widget-content .ui-state-default {
    border: none;
    background: #eee; }
    .ui-widget.ui-widget-content .ui-state-default:hover {
      background: #f03d00;
      color: white; }
  .ui-widget.ui-widget-content .ui-state-disabled .ui-state-default {
    background: white;
    opacity: 1;
    color: #aaa; }
  .ui-widget.ui-widget-content .ui-state-highlight {
    border-color: #0368da;
    background: #eee;
    color: #0368da;
    font-weight: bold; }
  .ui-widget.ui-widget-content .ui-state-active {
    background: #f03d00;
    color: white;
    font-weight: bold; }

/*# sourceMappingURL=main.css.map */
