/* restrict admin potal to tablet size minimum */
body, html {
  overflow-x: hidden;
}

.main-content {
  overflow-x: hidden;
  &.inner-navigation {
    padding-bottom: 0;
    @include flexbox;
  }
}

.container {
  min-width: 768px !important;
}

/* user session info */
#user-session {
  line-height: 18px;
  padding: 14px 20px;
  border-left: 1px solid #ccc;
  height: 80px;
}

// warnings, alerts, info
p.warning, p.info, p.success {
  display: block;
  margin: 5px 0;
  @include border-radius(4px);
  padding: 10px;
  border: 1px solid;
}

p.warning {
  border-color: #cd343f;
  color: #cd343f;
  background-color: rgba(205,92,92,0.1);
}

p.info {
  border-color: darkorange;
  color: darkorange;
  background-color: rgba(255,165,0,0.1);
}

#apps-menu-button i {
  transform: scale(1,1.2);
  -webkit-transform: scale(1,1.2);
  -moz-transform: scale(1,1.2);
  -ms-transform: scale(1,1.2);
  -o-transform: scale(1,1.2);
}

/* buttons */
.button {
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	background: $primary-color;
	font-family: $font-normal;
	border: 0;
	padding: 10pt 20pt;
	color: white !important;
	min-width: 180px;
	max-width: 400px;
  &.small {
    padding: 5pt 10pt;
    min-width: 100px;
  }
	&:hover {
		background: #fc7243;
		cursor: pointer;
		color: white !important;
	}
	&.disabled {
		background: #ccc;
		cursor: default;
	}
  &.gray {
    background: #999;
    &:hover {
      background: #aaa;
    }
  }
  &.red {
    background: indianred;
    &:hover {
      background: crimson;
    }
  }
  &.blue {
    background: $link-color;
    &:hover {
      background: #00c0ff;
    }
  }
  &.icon {
    min-width: 36px;
    padding: 6pt;
    margin: 5px;
    background: none;
    &:hover {
      background: #eee !important;
    }
    &.blue {
      color: $link-color !important;
    }
    &.red {
      color: indianred !important;
    }
    &.gray {
      color: #999 !important;
    }
    &.green {
      color: #43B02A !important;
    }
  }
}

/* accordion sections */
.page-section {
  .page-section-content {
    clear: both;
    overflow: auto;
  }
  h2 {
    padding-left: 20px;
    i {
      color: #8a8683;
      font-size: 48%;
      padding: 9px;
      display: inline-block;
      margin-top: 3px;
      position: absolute;
      margin-left: -30px;
    }
    &:hover {
      cursor: pointer;
      i {
        color: $link-color;
      }
    }
  }
}

/* edit/create product pages */
hr.shadow {
  width: 200%;
  margin-left: -200px;
  margin-right: -200px;
  border: 0;
  clear: both;
  border-top: 20px solid white;
  box-shadow: 0 9px 13px rgba(0, 0, 0, 0.1);
}

hr.line {
  width: 200%;
  margin-left: -200px;
  margin-right: -200px;
  border: 0;
  clear: both;
  border-top: 20px solid white;
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
}

/* Manage Home page */
.glance {
  border: 2px solid #ccc;
  padding: 15px 10px 12px 10px;
  margin-bottom: 20px;
  h3 {
    margin: 0;
  }
  i {
    color: #666;
  }
  &:hover {
    border-color: $primary-color;
    cursor: pointer;
  }
}
.stat-box {
  border: 2px solid #ccc;
  > h4 {
    padding: 10px;
    background: #eee;
  }
  h4 {
    margin-bottom: 0;
  }
  .chart {
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
  }
}

/* apps menu */
a#apps-menu-button {
  &:hover {
    color: $link-color !important;
    cursor: pointer !important;
  }
}

#apps-menu {
  overflow: auto;
  width: 400px;
  font-size: 13px;
  position: absolute;
  padding: 10px;
  margin-left: -50px;
  p {
    text-align: left;
    padding: 5px 10px;
    background: #ddd;
    font-family: $font-medium;
    color: $title-color;
  }
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ccc;
    margin-left: 36px;
  }
  #apps-menu-inner {
    border: 2px solid #ccc;
    overflow: auto;
    background: #fafafa;
    @include border-radius(4px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    a {
      line-height: 120%;
      img {
        display: block;
        margin: 0 auto;
        width: 50%;
      }
      &.current, &:hover {
        background: white;
      }
      &.disabled {
        cursor: default !important;
        opacity: .3;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
  }
}

.stick #apps-menu {
  position: fixed;
}

/* tables */
.manage-table {
  width: 100%;
  text-align: left;
  margin: 20px 0;
  border-collapse: collapse;
  border: 1px solid #aaa;
  tr {
    &.selected {
      background: $link-color;
      color: white;
      .link {
        color: white;
        cursor: default;
      }
    }
    &.background {
      background: #fbfbfb;
    }
    td, th {
      border-bottom: 1px solid #ddd;
      padding: 9px;
      font-family: $font-light;
      vertical-align: middle;
      word-break: break-all;
      h4 {
        margin: 0;
      }
      .monospace {
        font-family: Menlo, monospace;
      }
    }
    &:last-child td {
      border: 0;
    }
    th {
      color: $title-color;
      font-family: $font-medium;
      background: #efefef;
    }
  }
  img {
    border: 1px solid #aaa;
    max-height: 50px;
    max-width: 100px;
  }
  form {
    min-width: 100px;
  }
  .sortable {
    .ui-state-highlight {
      background: rgba(145, 206, 250, 0.5);
      border: 2px dashed $link-color;
      height: 50px !important;
      td {
        padding: 0;
      }
    }
    tr.active {
      background: rgba(200,200,200,0.5);
      display: block;
      height: 50px !important;
      .fa-arrows {
        background:$link-color;
      }
      td {
        display: none;
        border: none;
        .link {
          color: black;
        }
      }
      td:nth-child(1), td:nth-child(2) {
        display: block;
        float: left;
        height: 30px;
        padding: 10px 8px;
        line-height: 30px;
      }
      td:nth-child(2) {
        font-size: 20px;
      }
    }
    .fa-arrows {
      display: block;
      background: #ccc;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: white;
      cursor: move;
      &:hover {
        background: $link-color;
      }
    }
  }
  .order-history-product {
    height: 50px;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* tables */
.manage-table-filters {
  padding: 15px;
  background: #fbfbfb;
  border: 1px solid #e0e1e2;
  margin-bottom: 30px;

  .column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12 {
    padding: 0 15px 0 0 !important;
    &:last-child {
      padding: 0 !important;
    }
  }
  .fancy-field {
    max-width: 400px;
    .fa-calendar {
      position: absolute;
      margin-left: 10px;
      margin-top: -1px;
      color: #aaa;
      & ~ span {
        margin-left: 30px !important;
      }
    }
  }
}

.table-inline-actions {
  a {
    display: inline-block;
    min-width: 55px;
    text-align: center;
    padding: 3px;
  }
}

//forms
form {
  max-width: 100%;
  .column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12 {
    padding: 0 30px 0 0 !important;
    &:last-child {
      padding: 0 !important;
    }
  }
  .form-element {
    .column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12 {
      padding: 0 8px 0 0 !important;
      &:last-child {
        padding: 0 !important;
      }
    }
  }
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    box-sizing: border-box;
    outline: none !important;
    box-shadow: none !important;
    z-index: 1;
    background: none;
    width: 100%;
    line-height: 17px !important;
    font-size: 15px;
    border: 2px solid #ccc;
    resize: none;
    padding: 8px;
    &:focus {
      outline: none !important;
      border-color: $focus-color;
    }
    &:-moz-focusring { /* remove firefox dotted border thing */
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
  }
}

// datepicker widget
.ui-datepicker {
  margin-top: 4px !important;
  margin-left: -2px !important;
}

.ui-widget.ui-widget-content {
  @include border-radius(0);
  border: 2px solid $link-color;
  padding: 0;
  .ui-datepicker-header {
    background: $link-color;
    color: white;
    border: 0;
    @include border-radius(0);
    .ui-icon {
      text-indent: -9999px;
      overflow: hidden;
    }
  }
  .ui-state-default {
    border: none;
    background: #eee;
    &:hover {
      background: $primary-color;
      color: white;
    }
  }
  .ui-state-disabled .ui-state-default {
    background: white;
    opacity: 1;
    color: #aaa;
  }
  .ui-state-highlight {
    border-color: $link-color;
    background: #eee;
    color: $link-color;
    font-weight: bold;
  }
  .ui-state-active {
    background: $primary-color;
    color: white;
    font-weight: bold;
  }
}

// modals
// overwrite _videomodal.scss
.modal-backdrop.in {
  opacity: .3;
}

.modal {
  color: $font-dark;
  .modal-content, .modal-body {
    border: 0;
    background: white !important;
  }
  .modal-header {
    background: $title-color;
    margin-bottom: 15px;
    h4 {
      color: white !important;
    }
  }
  .modal-body {
    padding: 0 15px;
    form {
      overflow: auto;
      max-width: 100%;
      .form-element {
        text-align: left;
      }
    }
    table {
      width: 100%;
    }
  }
  .modal-footer {
    background: #eaebec;
    text-align: right;
    padding: 15px;
    margin-top: 15px;
    .button {
      color: white;
      font-size: 14px;
      min-width: 0;
      &.button-secondary {
        background: #999;
        &:hover {
          background: #aaa;
        }
      }
      &.button-primary {
        background: $primary-color;
        &:hover {
          background: $primary-color-hover;
        }
      }
    }
  }
}

.prompt {
  width: 400px;
  text-align: center;
  &.warning {
    .modal-header {
      background: indianred;
    }
  }
}

// my apps

.my-apps {
  .my-app {
    & > a {
      border: 2px solid #ccc;
      background: #fbfbfb;
      padding: 15px;
      display: block;
      img {
        background: white;
        width: 100%;
        margin-bottom: 5px;
        border: 1px solid #dfdfdf;
        box-shadow: 0px 0px 3px white;
      }
      &:hover {
        border-color: $primary-color;
      }
    }
  }
}

.app-form {
  max-width: 100%;
  .fancy-field {
    max-width: 400px;
    &.narrow {
      max-width: 115px;
    }
    &.wide {
      min-width: 400px;
    }
    &.full {
      min-width: 90%;
    }
  }
  .line-item {
    margin-bottom: 6px;
    background: #f4f4f4;
    padding: 10px 0 2px 10px;
    .line-item {
      margin-bottom: 0;
      padding-top: 0;
      &:first-child {
        padding-top: 10px;
      }
    }
    .link {
      display: block;
      margin-bottom: 8px;
      margin-top: 5px;
    }
    fieldset {
    }
    .fancy-field {
      max-width: 400px;
      display: inline-block;
      &.narrow {
        max-width: 115px;
      }
      &.wide {
        min-width: 400px;
      }
      &.full {
        min-width: 90%;
      }
    }
    .button.icon {
      display: inline-block;
      float: left;
      margin: 6px 5px 6px 0;
    }
  }
  .option-checkbox {
    label {
      display: inline-block !important;
      float: left;
      line-height: 50px;
      margin-right: 10px;
    }
  }
}

.dropzone {
  max-width: 100% !important;
  .dz-preview {
    .dz-image {
      @include border-radius(0);
    }
    border: 2px solid #aaa;
    img {
      border: none;
    }
  }
}

