html, body {
  font-family: Arial, sans-serif;
	background: white;
	color: #424242;
	line-height: 140%;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

header {
  z-index: 1004;
  nav {
    height: 80px;
    max-width: 976px;
    margin: 0 auto;
    padding: 0 !important;
    #logo {
      width: 160px;
      height: 42px;
      margin-top: 17px;
      display: block;
      float: left;
    }
  }
}

footer {
  .copyright p {
    color: #aaa;
    font: 11px/11px Arial,Helvetica,sans-serif;
    text-align: center;
    margin: 20px 0;
    &:first-child {
      margin-bottom: 10px;
    }
  }
}