section, h1, h2, h3, h4 {
  *zoom: 1; }
  section:before, h1:before, h2:before, h3:before, h4:before, section:after, h1:after, h2:after, h3:after, h4:after {
    content: " ";
    display: table; }
  section:after, h1:after, h2:after, h3:after, h4:after {
    clear: both; }

@font-face {
  font-family: "SimpleSansLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SimpleSansLight.woff"); }
@font-face {
  font-family: "SimpleSansMedium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SimpleSansMedium.woff"); }
@font-face {
  font-family: "SimpleSans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SimpleSans.woff"); }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none;
  background: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:hover, a:visited {
  color: inherit;
  text-decoration: none; }

html, body {
  font-family: "SimpleSansLight", Arial, sans-serif, Arial, sans-serif;
  background: #004164;
  color: #424242;
  line-height: 140%;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none; }

body {
  margin: 0 auto;
  min-width: 320px;
  overflow-x: hidden; }

.main-content, header, #breadcrumb {
  background: white;
  overflow: auto; }

.main-content {
  padding-bottom: 40px; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.fa {
  font-family: 'FontAwesome';
  font-style: normal; }

section {
  margin-top: 60px; }
  section:first-child {
    margin-top: 40px; }

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100% !important; }

@media (min-width: 768px) {
  .container {
    width: 750px !important; } }
@media (min-width: 992px) {
  .container {
    width: 970px !important; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px !important; } }
[class*='column-'] {
  float: left;
  padding: 0;
  width: 100%;
  min-height: 1px; }

@media only screen and (min-width: 30em) {
  [class*='column-'] {
    padding: 1em; }

  .column-1 {
    width: 8.33333%; }

  .column-2 {
    width: 16.66667%; }

  .column-3 {
    width: 25%; }

  .column-4 {
    width: 33.33333%; }

  .column-5 {
    width: 41.66667%; }

  .column-6 {
    width: 50%; }

  .column-7 {
    width: 58.33333%; }

  .column-8 {
    width: 66.66667%; }

  .column-9 {
    width: 75%; }

  .column-10 {
    width: 83.33333%; }

  .column-11 {
    width: 91.66667%; }

  .column-12 {
    width: 100%; } }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

ul.list li {
  list-style-type: disc; }

.small {
  font-size: 80% !important; }

.super-small {
  font-size: 50% !important; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.align-center {
  text-align: center !important; }

.align-right {
  text-align: right !important; }

.align-left {
  text-align: left !important; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clearfix {
  overflow: auto;
  clear: both; }

.margin-top {
  margin-top: 40px; }

.margin-bottom {
  margin-bottom: 40px; }

/* TYPE */
h1 {
  font: 45px/50px "SimpleSansLight",Arial,sans-serif;
  color: #004164;
  margin: 0 0 14px; }

h2 {
  font: 37px/43px "SimpleSansLight",Arial,sans-serif;
  color: #004164;
  margin: 0 0 14px; }

h3 {
  font: 30px/35px "SimpleSansLight",Arial,sans-serif;
  color: #004164;
  margin: 0 0 14px; }

h4 {
  font: 22px/26px "SimpleSansLight",Arial,sans-serif;
  color: #004164;
  margin: 0 0 14px; }

.subhead {
  font: 20px/29px "SimpleSansLight",Arial,sans-serif;
  padding-bottom: 20px; }

strong {
  font-family: "SimpleSansMedium", Arial, sans-serif; }

.red {
  color: #ec1c24; }

.orange {
  color: #f03d00; }

.gray {
  color: #8a8683; }

a.link {
  color: #00a9e0; }
  a.link:hover {
    color: #00c0ff;
    cursor: pointer; }

a.link-blue {
  color: #00a9e0;
  font-family: "SimpleSansMedium", Arial, sans-serif; }
  a.link-blue:hover {
    color: #00c0ff;
    cursor: pointer; }

a.btn {
  display: block;
  text-transform: uppercase;
  text-align: center;
  background: #f03d00;
  font-family: "SimpleSansMedium", Arial, sans-serif;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  padding: 10pt;
  color: white;
  min-width: 80px;
  max-width: 400px; }
  a.btn:hover {
    background: #fc7243;
    cursor: pointer; }
  a.btn.disabled {
    background: #ccc;
    cursor: default; }

.button {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  background: #f03d00;
  font-family: "SimpleSans", Arial, sans-serif;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  padding: 10pt 20pt;
  color: white !important;
  min-width: 180px;
  max-width: 400px; }
  .button.small {
    padding: 5pt 10pt;
    min-width: 100px; }
  .button:hover {
    background: #fc7243;
    cursor: pointer;
    color: white !important; }
  .button.disabled {
    background: #ccc;
    cursor: default; }
  .button.gray {
    background: #999; }
    .button.gray:hover {
      background: #aaa; }
  .button.red {
    background: indianred; }
    .button.red:hover {
      background: crimson; }
  .button.blue {
    background: #00a9e0; }
    .button.blue:hover {
      background: #00c0ff; }
  .button.icon {
    min-width: 36px;
    padding: 6pt;
    margin: 5px;
    background: none; }
    .button.icon:hover {
      background: #eee !important; }
    .button.icon.blue {
      color: #00a9e0 !important; }
    .button.icon.red {
      color: indianred !important; }
    .button.icon.gray {
      color: #999 !important; }
    .button.icon.green {
      color: #43B02A !important; }

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0; }

.flash {
  -webkit-animation-name: flash;
  -webkit-animation-duration: 900ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out; }

/* flashing element */
@-webkit-keyframes flash {
  0% {
    background-color: lightgreen; }
  100% {
    background-color: transparent; } }
html, body {
  font-family: Arial, sans-serif;
  background: white;
  color: #424242;
  line-height: 140%;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none; }

header {
  z-index: 1004; }
  header nav {
    height: 80px;
    max-width: 976px;
    margin: 0 auto;
    padding: 0 !important; }
    header nav #logo {
      width: 160px;
      height: 42px;
      margin-top: 17px;
      display: block;
      float: left; }

footer .copyright p {
  color: #aaa;
  font: 11px/11px Arial,Helvetica,sans-serif;
  text-align: center;
  margin: 20px 0; }
  footer .copyright p:first-child {
    margin-bottom: 10px; }

/*# sourceMappingURL=unsupported-browser.css.map */
