@import "_mixins";

//== Grid Variables
$grid-columns: 12;
$grid-max-width: 65em;

//== Breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

//== Colors
$font-dark:				      #424242 !default;
$title-color:			      #004164 !default;
$primary-color:					#f03d00 !default;
$primary-color-hover:		#fc7243 !default;
$link-color:			      #00a9e0 !default;
$link-color-hover:      #00c0ff !default;
$footer-background:     #004164 !default;
$footer-text-color:     #ffffff !default;
$panel-toggle-color:    #a8cd1b !default;

$font-normal:			Helvetica, Arial, sans-serif !default;
$font-light:			Helvetica, Arial, sans-serif !default;
$font-medium:			Helvetica, Arial, sans-serif !default;
