#cart {
	background: #F5F4F4;
	border: 2px solid #ccc;
	margin-top: 15pt;
	.sub {
		background: $title-color;
		padding: 10px;
		color: white;
		font-family: $font-medium; font-weight: 700;
		margin-top: 6pt;
	}
	.cart-table-toggle {
		span {
			float: right;
		}
		i {
			float: right;
			padding: 2px;
			margin-left: 5pt;
			cursor: pointer;
			opacity: .7;
		}
		&:hover {
			cursor: pointer;
			i {
				opacity: 1;
			}
		}
	}
	table {
		background: white;
		width: 100%;
		tbody {
			border:5pt solid white;
		}
		td {
			padding: 5pt;
			vertical-align: middle;
			word-break: break-word;
			min-width: 120px;
		}
		&#order-summary {
  		margin-top: 6pt;
    }
		.order-summary-total td {
			border-top: 1px solid #979797;
			font-family: $font-medium; font-weight: 700;
			font-size: 14pt;
			padding-top: 10pt;
		}
	}
	#cart-actions {
		text-align: center;
		margin-top: 10pt;
		.button {
  		width: 100%;
  		margin: 10px 0 20px 0;
		}
	}
}

@media (max-width: 740px) {
	#cart {
		clear: both;
		width: 100%;
		margin-top: 0;
	}
}

@media (max-width: 480px) {
  #cart {
	  padding: 1em;
	  margin-top: 2em;
  }
}
