/*! ================================================
* Fancyfy Fields: fancyfy-fields.scss v1.0.0
* =============================================== */

/* variables */
$field-height: 50px !default;
$field-side-padding: 10px !default;
$field-font-size: 15px !default;
$focus-color: $link-color;

/* calculated from variables */
$faux-label-height: ceil(($field-height / 3)) !default;
$faux-label-padding: ceil((($field-height - $faux-label-height * 2 ) / 2) - 1 ) !default;
$faux-label-font-size: ceil(($field-font-size * .85)) !default;

.fancy-field {
  display: block;
  overflow: auto;
  z-index: 1;
  height: $field-height;
  background: white;
  border: 2px solid #ccc;
  overflow: hidden;
  box-sizing: border-box;
  &.focused {
    border-color: $focus-color;
  }
  span {
    display: block;
    position: relative;
    z-index: -1;
    height: $field-height;
    margin: 0 0 0 $field-side-padding;
    color: #aaa;
    font-size: $field-font-size;
    line-height: $field-height;
  }
  &.active {
    padding-top: $faux-label-padding;
    span {
      font-family: $font-medium; font-weight: 700;
      position: static;
      font-size: $faux-label-font-size;
      height: $faux-label-height;
      line-height: $faux-label-height;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      transition: all 0.3s linear;
    }
  }
  input, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    box-sizing: border-box;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    z-index: 1;
    background: none;
    width: 100%;
    line-height: 17px !important;
    height: $field-height;
    font-size: $field-font-size;
    padding: 0 $field-side-padding;
    margin-top: -$field-height;
    &:focus {
      outline: none !important;
      border: none !important;
    }
    &:-moz-focusring { /* remove firefox dotted border thing */
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
    &.hasvalue {
      margin-top: 0;
      height: 18px;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      transition: all 0.3s linear;
    }
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  select {
    opacity: .45;
    &.hasvalue {
      opacity: 1;
    }
  }
  &.error {
    background: rgba(255, 0, 0, 0.1);
    border-color: red;
    color: red;
  }
}

form {
  max-width: 400px;
}

.form-error-detail {
  color: red;
  font-size: 13px;
  margin-bottom: 8px;
}

.form-element {
  clear: both;
  overflow: auto;
  margin-bottom: 8px;
}
