header {
  z-index: 1004;
  background: white;
  position: relative;
  nav {
    height: 80px;
    max-width: 976px;
    margin: 0 auto;
    padding: 0 !important;
    &.container {
      min-width: 0 !important;
    }
    #logo {
      width: 160px;
      height: 42px;
      margin-top: 17px;
      display: block;
      float: left;
    }
    #main-menu {
      float: right;
      margin-right: 10px;
      li {
        display: block;
        float: left;
        a {
          display: block;
          font: 15px/15px $font-medium,Arial,sans-serif;
          height: 15px;
          -moz-transition: color 300ms;
          -o-transition: color 300ms;
          -webkit-transition: color 300ms;
          transition: color 300ms;
          color: #004165;
          padding: 23px 11px 32px 11px;
          border-left: 1px solid #FFF;
          border-right: 1px solid #FFF;
          border-top: 10px solid white;
          &:hover {
            color: $link-color;
            cursor: pointer;
          }
          &.current, &.current:hover {
            border-top-color: $primary-color;
            color: $primary-color;
            cursor: default;
          }
        }
      }
    }
  }
}

#cart-icon {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 30px;
  display: block;
  float: right;
  height: 30px;
  padding: 25px 20px;
  box-sizing: content-box;
  span {
    color: $primary-color;
    font-family: $font-medium; font-weight: 700;
    position: absolute;
    margin-left: -17px;
    margin-top: -5px;
  }
}

#breadcrumb {
    box-sizing: content-box;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    z-index: 1003;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
    .breadcrumb-inner {
    &.container {
      min-width: 0 !important;
    }
    ul {
      display: block;
    }
    .current, .current:hover {
      color: $primary-color;
    }
    li {
      display: inline-block;
      a, a:hover {
        background: url("../img/arrow.svg") no-repeat right center;
        height: 44px;
        color: $font-dark;
        cursor: default;
        display: inline-block;
        padding-right: 30px;
        padding-left: 20px;
        font: 14px/44px $font-medium, Arial,sans-serif;
        &.link {
          color: $link-color;
          &:hover {
            color: $link-color-hover;
            cursor: pointer;
          }
        }
      }
      &:last-child a {
        background: none;
      }
      &:first-child a {
        padding-left: 0;
      }
    }
	}
	&.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 1004;
  }
  .breadcrumb-mobile {
    display: none;
  }
}


#mobile-menu-toggle {
  display: none;
}

footer {
  color: $footer-text-color;
  clear: both;
  background: $footer-background;
  padding: 20px 0;
  .copyright p {
    font: 11px/11px Arial,Helvetica,sans-serif;
  }
}

@media (max-width: 1000px) {
  .breadcrumb-inner {
    li {
      a, a:hover {
        padding-right: 15px !important;
        padding-left: 4px !important;
      }
      &:first-child a {
        padding-left: 0;
      }
    }
  }
}

@media (max-width: 800px) {
  #logo {
    margin-left: 15px;
  }

  #main-menu {
	  display: none;
  }
	#mobile-menu-toggle {
    display: block;
    color: $title-color;
    float: right;
    line-height: 80px;
    font-size: 26px;
    padding-right: 25px;
    padding-left: 25px;
    border-left: 1px solid #ccc;
    &.open {
      background: #f2f2f2;
      color: $link-color;
    }
  }

  #breadcrumb {
    .breadcrumb-inner {
      padding: 0 !important;
      ul {
        display: none;
      }
      li {
        display: block;
        a, a:hover {
          background: none;
          height: auto;
          display: block;
          padding: 8px !important;
          font: 14px/14px $font-medium, Arial,sans-serif;
          border-top: 1px solid #eee;
        }
        &:first-child a {
          padding-left: 8px;
          border-top: none;
        }
      }
    }

    .breadcrumb-mobile {
      display: block;
      a {
        background: none;
        color: $title-color !important;
        height: auto;
        display: block;
        padding: 8px !important;
        font: 14px/14px $font-medium, Arial,sans-serif;
        border-top: 1px solid #eee;
        &:hover {
          color: $link-color;
        }
      }
    }
  }

  #mobile-menu {
    border-top: 2px solid #ddd;
    background: #f2f2f2;
    li {
      border-bottom: 1px solid #dfdfdf;
      a {
        display: block;
        padding: 24px 15px 21px 15px;
        color: $link-color;
        font: 15px/15px $font-medium,Arial,sans-serif;
        &:hover {
          background: white;
        }
        &.current, &.current:hover {
          background: $primary-color;
          color: white;
          cursor: default;
        }

      }
    }
  }

	#cart-icon {
	  a {
	    padding: 18px 15px 28px 15px !important;
      img {
        width: 33px;
        float: left;
        margin-top: 0;
      }
      span {
        margin-left: -19px;
        font-size: 10pt;
        margin-top: -7px;
        color: $primary-color;
      }
    }
	}
}

