*, *:after, *:before {
  margin: 0;
  padding: 0;
  @include border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html, body {
  font-family: $font-light, Arial, sans-serif;
	background: $footer-background;
	color: $font-dark;
	line-height: 140%;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

body {
  margin: 0 auto;
	min-width: 320px;
  overflow-x: hidden;
  &.noscroll {
    overflow-y: hidden;
  }
}

.main-content, header, #breadcrumb {
  background: white;
  overflow: auto;
}

.main-content {
  padding-bottom: 40px;
}

.fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

.fa-stack {
  margin-top: -5px;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

section {
	@extend %clearfix;
	margin-top: 60px;
	&:first-child {
  	margin-top: 40px;
	}
}

.container  {
	padding: 0 15px;
	margin: 0 auto;
	width: 100% !important;
}

@media (min-width: 768px) {
  .container {
      width: 750px !important;
  }
}

@media (min-width: 992px) {
  .container {
      width: 970px !important;
  }
}

@media (min-width: 1200px) {
  .container {
      width: 1170px !important;
  }
}


[class*='column-'] {
    float: left;
    padding: 0;
    width: 100%;
    min-height: 1px;
}
@media #{$breakpoint-medium} {
	[class*='column-'] {
	    padding: 1em;
	}
	@for $i from 1 through $grid-columns {
    .column-#{$i} {
        width: 100% / $grid-columns * $i;
    }
  }
}

ul.list {
  li {
    list-style-type: disc;
  }
}

.small {
  font-size: 80% !important;
  line-height: 120%;
}

.super-small {
  font-size: 50% !important;
  line-height: 120%;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.align-center {
	text-align: center !important;
}

.align-right {
	text-align: right !important;
}

.align-left {
	text-align: left !important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  overflow: auto;
  clear: both;
}

.margin-top {
  margin-top: 40px;
}

.margin-bottom {
  margin-bottom: 40px;
}

/* TYPE */
h1 {
    font: 45px/50px $font-light; font-weight: 100;
    color: $title-color;
    margin: 0 0 14px;
		@extend %clearfix;
}

h2 {
    font: 37px/43px $font-light; font-weight: 100;
    color: $title-color;
    margin: 0 0 14px;
		@extend %clearfix;
}

h3 {
    font: 30px/35px $font-light; font-weight: 100;
    color: $title-color;
    margin: 0 0 14px;
		@extend %clearfix;
}

h4 {
    font: 22px/26px $font-light; font-weight: 100;
    color: $title-color;
    margin: 0 0 14px;
		@extend %clearfix;
}

.subhead {
    font: 20px/29px $font-light;
    padding-bottom: 20px;
}

strong {
  font-family: $font-medium; font-weight: 700;
}

/* COLORS */
.red {
  color: #ec1c24;
}

.orange {
  color: $primary-color;
}

.gray {
  color: #8a8683;
}

/* LINKS */
a.link {
  color: $link-color;
  &:hover {
    color: $link-color-hover;
    cursor: pointer;
  }
}

a.link-bold {
  color: $link-color;
  font-family: $font-medium; font-weight: 700;
  &:hover {
    color: $link-color-hover;
    cursor: pointer;
  }
}

/* BUTTONS */
.button {
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	background: $primary-color;
	font-family: $font-normal; font-weight: 400;
	border: 0;
  @include border-radius(0);
	padding: 10pt 20pt;
	color: white !important;
	min-width: 180px;
	max-width: 400px;
  &.small {
    padding: 5pt 10pt;
    min-width: 100px;
  }
	&:hover {
		background: $primary-color-hover;
		cursor: pointer;
		color: white !important;
	}
	&.disabled {
		background: #ccc;
		cursor: default;
	}
  &.gray {
    background: #999;
    &:hover {
      background: #aaa;
    }
  }
  &.red {
    background: indianred;
    &:hover {
      background: crimson;
    }
  }
  &.blue {
    background: $link-color;
    &:hover {
      background: $link-color-hover;
    }
  }
  &.icon {
    min-width: 36px;
    padding: 6pt;
    margin: 5px;
    background: none;
    &:hover {
      background: #eee !important;
    }
    &.blue {
      color: $link-color !important;
    }
    &.red {
      color: indianred !important;
    }
    &.gray {
      color: #999 !important;
    }
    &.green {
      color: #43B02A !important;
    }
  }
}
