<div id="breadcrumb-anchor"></div>
<div id="breadcrumb" breadcrumb>
  <div class="breadcrumb-inner container">
    <div class="breadcrumb-mobile">
      <a id="mobile-breadcrumb-toggle"><i class="fa fa-chevron-down"></i> <span>Confirm Order</span></a>
    </div>
    <ul>
      <li><a class="link" data-toggle="modal" data-target="#pricing-edit-warning">Transaction Information <i style="color: green;" class="fa fa-check"></i></a></li>
      <li><a class="link" href="#/checkout/shipping">Shipping Information</a></li>
      <li><a>Review Order</a></li>
    </ul>
  </div>
</div>

<div class="main-content">
  <section>
    <div class="container">
      <div id="shipping-info" class="column-8 checkout-form">
        <form autocomplete="off">
          <h2 style="margin-top: 25pt;">Shipping Address <a href="#/checkout/shipping/" class="link-blue" style="font-size: 9pt; border: 2px solid; padding: 5px 13px; line-height: 22px; box-sizing: content-box; display: inline-block; height: 20px;">Edit</a></h2>
          <p>{{cart.shippingAddress.company_name}}</p>
          <p>{{cart.shippingAddress.name}}</p>
          <p>{{cart.shippingAddress.address1}}{{cart.shippingAddress.address2 ? ', ' + cart.shippingAddress.address2 : ''}}</p>
          <p>{{cart.shippingAddress.city}}, {{cart.shippingAddress.state}} {{cart.shippingAddress.zip}}</p>
          <p>{{cart.shippingAddress.email}}</p>
          <p>{{cart.shippingAddress.phone | tel}}</p>

          <h2 style="margin-top: 25pt;">Shipping Option <a href="#/checkout/shipping" class="link-blue" style="font-size: 9pt; border: 2px solid; padding: 5px 13px; line-height: 22px; box-sizing: content-box; display: inline-block; height: 20px;">Edit</a></h2>
          <p>{{CONST.SHIPPING_METHODS[cart.shipping_option_id].name}}</p>
        </form>
      </div>
      <ng-include src="'templates/cart.tpl'"></ng-include>
    </div>
  </section>

</div><!-- end .content -->
<ng-include src="'templates/transaction-info-warning.tpl'"></ng-include>